<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento HTML</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>El titulo de nuestro documento</h1>
    <h2>un subtitulo cualquiera</h2>
    <img src="/images/huascaran.jpg" alt=""width=200px>
    <strong>texto en verde</strong>
    <p class="parrafo-destacado">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores eos, porro nisi 
            quam sunt a neque vel sequi commodi laudantium,
         voluptatum voluptatem <strong>texto en verde</strong> atque id iste. Voluptatem dolorem illum cupiditate quia.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores eos, porro nisi 
            quam sunt a neque vel sequi commodi laudantium,
         voluptatum voluptatem atque id iste. Voluptatem dolorem illum cupiditate quia.</p>
    
         <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <a href="http://www.google.com">Enlace</a>

</body>
</html>